// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

.hero{
    &-section{
        .rounded-background{
            position: relative;
            overflow: hidden;
           
        }
        &-content{
           
          
            h1{
                font-size: 61px;
                font-weight:800;
                color:  #FAFAFA;
                margin-bottom: 20px;
                line-height: 1.3;
            }
            p{
                font-size: 16px;
                font-weight: 700;
                color:$primaryColor;
                margin-bottom: 16px;
               
            }
            .content-text{
                font-size:16px;
                font-weight: 400;
                color:#FAFAFA ;
                margin-bottom:48px;
                opacity: 0.6;
            }
            .custom{
                &-input{
                    &__group{
                        max-width: 470px;
                        background-color: rgb(12 12 12 / 40%);
                        border-radius: 10px;
                    }
                    &__field{
                        padding: 18px 20px;
                        font-weight: 400;
                        border-bottom-left-radius: 10px;
                    }
                    &__prepend{
                        font-size: 14px;  
                        color: #FAFAFA;
                        padding: 22px 20px 22px 11.5px;
                    }
                    &__append{
                        border-top-right-radius: 10px;
                        border-bottom-left-radius: 10px;
                        border-top-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        padding: 19px 40px 19px 40px;
                        color: #FAFAFA;
                        background-color: $primaryColor;
                        font-weight: 700;
                    }
                }
            }
        }
        .image-cap{
           img{
            position: absolute;
            right: 42%;
            top: 45px;
            transform: translateX(50%);
            
         }
  }
      .image-pen{
        img{
            position: absolute;
            bottom: 15px;
             right: 44%;
        }
      }
  
       
        &-image{
            img{
               position: absolute;
               right: 80px;
               bottom: 0;
              max-width: 450px;
            }
           
        }
}
}
//explore section starts here 
 .explore{
    &-section{
        display: none;
        &-header{
            margin-bottom: 20px;
        }
        &-buttonpart{
            display: flex;
            justify-content: space-between;
        }
        &-buttons{
            display: flex;
            .main-btn{
                &__border{
                    padding: 8px 20px;
                    background-color:#EEEEEE;
                    color: #000000;
                    border-radius: 5px;
                    &:not(:last-child){
                        margin-right: 10px;
                    }

                }
            }
        }
        &-filter{
            display: flex;
        }
    }
 }
//responsive 
@include breakpoint-max(1399px) {
    .hero{
        &-section{
            &-content{
                //padding-left: 55px;
                //padding-right: 168px;
                h1{
                    font-size: 56px;
                }
                p{
                    font-size: 15px;
                }
                .content-text{
                    font-size: 15px;
                }
                .custom{
                    &-input{
                        &__group{
                            max-width: 432px;
                        
                        }
                        &__field{
                            padding: 18px 20px;
                        }
                        &__prepend{
                            padding: 22px 20px 22px 11.5px;
                        }
                        &__append{
                            padding: 19px 40px 19px 40px;
                          
                        }
                    }
                }
                
            }   
            .image-cap{
                img{
                  right: 40%;          
                }
                  
            }   
            &-image{
                img{
                  max-width: 357px;
                }
               
            }    
           
    }
    }


}
@include breakpoint-max(1199px) {
    .hero{
        &-section{
            &-content{
                h1{
                    font-size: 50px;
                    margin-bottom: 15px;
                    }
                    p{
                        font-size: 13px;
                        margin-bottom: 12px;
                    }
                    .content-text{
                        font-size: 13px;
                        margin-bottom: 38px;
                    }

                }
                &-image{
                    img{
                        right: 40px;
                    }
                   
                }
                .image-cap{
                    img{
                         right: 35%;
                         top:35px;
                
                    }
                      
                }
                .image-pen {
                      img{
                        bottom: 5px;
                        right: 40%;
                      }
                   }
               
                
                
            }
           
           
    }
    }
    @include breakpoint-max(991px) {
        .hero{
            &-section{
                //.container{
                 //   max-width: 100%;
                //}
                .rounded-background{
                    //padding-bottom: 0;
                    //padding-top: 50px;
                    //padding-left: 40px;
                    //padding-right: 40px;
                 // text-align: center;
                    width: 100%;
                   background-color: #414770;
                  border-radius: 40px;
                 padding: 40px
                }            
                .image-cap{
                    img{
                        transform: none;
                        right: 24%;
                        top: 20px;
                        width: 115px;
                
                    }
                      
                }
                
                
                &-content{
                   
                    p{
                       font-size: 12px;  
                    }
                    h1{
                      font-size: 40px;  
                    }  
                    .content-text{
                        font-size: 12px;
                        margin-bottom: 30px;
                    }         
                    .custom{
                        &-input{
                            &__group{                                       
                                max-width: 360px;
                            }
                            &__field{
                               
                            }
                            &__append{
                               
                            }
                        }
                    }
                }
            }
        }
    }
        

    


    @include breakpoint-max(767px) {
        .hero{
            &-section{
                .rounded-background{
                   //padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 40px;
                  padding-right: 40px;
                } 
                           
                //.image-cap{
                   // img{
                     //   right: 41%;
                     //   top: -2%;
                     //   width: 18.25%;
                     // }
                   // }
                
                &-content{ 
                    h1{
                        font-size: 30px;
                    }   
                    .content-text{
                       
                        margin-bottom: 20px;
                    } 

                    .custom{
                        &-input{
                            &__field{
                            }
                            &__append{
                                padding: 18px 18px 18px;
                            }
                        }
                    }
                }
               
               // &-image{
                  //  img{
                   //   position: unset;
                    //  text-align: center;
                    //  max-width: 300px
                  //  }
                   
               // }
            }
        }
    }
        
    @include breakpoint-max(575px) {
        .hero{
            &-section{
                .rounded-background{
                  // padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 30px;
                  padding-right: 30px;
                }    
                &-content{
                    h1{
                        font-size: 30px;
                        }
                        .content-text{                          
                            margin-bottom: 25px;
                        }   
                    }        
                &-content{           
                    .custom{
                        &-input{
                            &__group{
                                max-width: 310px;
                            
                            }
                            &__field{

                            }
                            &__append{
                                padding: 18px 10px 18px 10px;
                               
                            }
                        }
                    }
                }
            }
        }
    }
        
    @include breakpoint-max(480px) {
        .hero{
            &-section{
                .rounded-background{
                  // padding-bottom:0 ;
                   padding-top: 40px;
                   padding-left: 30px;
                  padding-right: 30px;
                }    
                &-content{
                    h1{
                        font-size: 25px;
                        margin-bottom: 12px;
                        
                        }
                        p{
                          margin-bottom: 10px;
                          
                        }
                        .content-text{
                          margin-bottom: 20px; 
                        }
                    }        
               // .image-cap{
                   // img{
                       // right: 40%;
                       // top: -1.45%;
                       // width: 16.25%;
                        //display: none;
                    //  }
                   // }
                
                &-content{           
                    .custom{
                        &-input{
                            &__field{
                                padding: 5px 8px;
                               
                            }
                            &__prepend{
                                padding: 20px 8px 20px 8px;
                            }
                            &__append{
                                padding: 10px 10px 10px 10px;
                               
                            }
                        }
                    }
                }
            }
        }
    }
        

    



    



    



    


