// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

.hero{
    &-section{
        .rounded-background{
            position: relative;
           
        }
        &-content{
           
          
            h1{
                font-size: 61px;
                font-weight:800;
                color:  #FAFAFA;
                margin-bottom: 25px;
                line-height: 1.3;
            }
            p{
                font-size: 1em;
                font-weight: 700;
                color:$primaryColor;
                margin-bottom: 20px;
               
            }
            .content-text{
                font-size:1em;
                font-weight: 400;
                color:#FAFAFA ;
                margin-bottom: 30px;
                opacity: 0.6;
            }
            .custom{
                &-input{
                    &__group{
                        max-width: 325px;
                    }
                    &__field{
                        display: flex;
                        background-color:  #0C0C0C;
                        opacity: 0.5;
                        align-items: center;
                        padding: 18px 20px;
                        font-weight: 400;
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                        i{
                            padding: 5px;
                        }
                    }
                    &__append{
                        border-top-right-radius: 8px;
                        border-bottom-left-radius: 8px;
                        border-top-left-radius: 8px;
                        border-bottom-right-radius: 8px;
                        padding: 18px 23px 18px 23px;
                        color: #FAFAFA;
                        background-color: $primaryColor;
                        font-weight: 700;
                    }
                }
            }
        }
        .image-cap{
           img{
            position: absolute;
            right: 47%;
            top: 5%;
            
         }
  }
      .image-pen{
        img{
            position: absolute;
            bottom: 15px;
             right: 44%;
        }
      }
  
       
        &-image{
            img{
               position: absolute;
               right: 80px;
               bottom: 0;
              max-width: 357px;
            }
           
        }
}
}
//explore section starts here 
 .explore{
    &-section{
        &-header{
            margin-bottom: 20px;
        }
        &-buttonpart{
            display: flex;
            justify-content: space-between;
        }
        &-buttons{
            display: flex;
            .main-btn{
                &__border{
                    padding: 8px 20px;
                    background-color:#EEEEEE;
                    color: #000000;
                    border-radius: 5px;
                    &:not(:last-child){
                        margin-right: 10px;
                    }

                }
            }
        }
        &-filter{
            display: flex;
        }
    }
 }
//responsive 
@include breakpoint-max(1399px) {
    .hero{
        &-section{
            &-content{
                //padding-left: 55px;
                //padding-right: 168px;
                h1{
                    font-size: 2.5em;
                    color:  #FAFAFA;;
                }
                
            }          
           
    }
    }


}
@include breakpoint-max(1199px) {
    .hero{
        &-section{
            &-content{
                h1{
                    font-size: 2em;
                    color:  #FAFAFA;;
                    }
                }
                
            }
           
           
    }
    }
    @include breakpoint-max(991px) {
        .hero{
            &-section{
                .container{
                    max-width: 100%;
                }
                .rounded-background{
                    //padding-bottom: 0;
                    //padding-top: 50px;
                    //padding-left: 40px;
                    //padding-right: 40px;
                 // text-align: center;
                    width: 100%;
                   background-color: #414770;
                  border-radius: 40px;
                  padding: 40px
                }            
                .image-cap{
                    img{
                       left: 50%;
                       top: 40px;
                       width: 150px;
                       transform: translateX(-50%);
                
                    }
                      
                }
                .image-pen{
                    img{
                       left: 5%;
                    }
                }
                    
                
                &-content{
                    margin-bottom: 25px;
                    p{
                        margin-bottom: 15px;
                    }
                    h1{
                        margin-bottom: 15px;
                    }  
                    .content-text{
                        margin-bottom: 20px;
                    }         
                    .custom{
                        &-input{
                            &__group{
                                max-width: 335px;
                                width: 100%;
                                margin-left: auto;
                                margin-right: auto;
                            }
                            &__field{
                                background-color:  #0C0C0C;
                                opacity: 0.4;;
                            }
                            &__append{
                                padding: 18px 23px 18px;
                                color: #FAFAFA;
                                background-color: $primaryColor;
                            }
                        }
                    }
                }
               
                &-image{
                    img{
                     // position: unset;
                      max-width: 385px;
                    }
                   
                }
            }
        }
    }
        

    


    @include breakpoint-max(767px) {
        .hero{
            &-section{
                .rounded-background{
                   padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 40px;
                  padding-right: 40px;
                } 
                           
                .image-cap{
                    img{
                        right: 41%;
                        top: -2%;
                        width: 18.25%;
                      }
                    }
                
                &-content{           
                    .custom{
                        &-input{
                            &__field{
                                background-color:  #0C0C0C;
                                opacity: 0.4;;
                            }
                            &__append{
                                padding: 18px 18px 18px;
                                color: #FAFAFA;
                                background-color: $primaryColor;
                            }
                        }
                    }
                }
               
                &-image{
                    img{
                      position: unset;
                      text-align: center;
                      max-width: 300px
                    }
                   
                }
            }
        }
    }
        
    @include breakpoint-max(575px) {
        .hero{
            &-section{
                .rounded-background{
                   padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 30px;
                  padding-right: 30px;
                }    
                &-content{
                    h1{
                        font-size: 1.5em;
                        font-weight:600;
                        color:  #FAFAFA;
                        margin-bottom: 15px;
                        }
                        p{
                            margin-bottom: 10px;
                        }
                        .content-text{
                            margin-bottom: 25px;
                        }
                    }        
                .image-cap{
                    img{
                        right: 40%;
                        top: -1%;
                        width: 16.25%;
                      }
                    }
                
                &-content{           
                    .custom{
                        &-input{
                            &__field{
                                background-color:  #0C0C0C;
                                opacity: 0.4;;
                            }
                            &__append{
                                padding: 18px 18px 18px;
                                color: #FAFAFA;
                                background-color: $primaryColor;
                            }
                        }
                    }
                }
               
                &-image{
                    img{
                      position: unset;
                      max-width: 210px
                    }
                   
                }
            }
        }
    }
        
    @include breakpoint-max(480px) {
        .hero{
            &-section{
                .rounded-background{
                   padding-bottom:0 ;
                   padding-top: 40px;
                   padding-left: 30px;
                  padding-right: 30px;
                }    
                &-content{
                    h1{
                        font-size: 1em;
                        color:  #FAFAFA;
                        margin-bottom: 15px;
                        }
                        p{
                            margin-bottom: 10px;
                            font-size: 0.7em;
                        }
                        .content-text{
                            margin-bottom: 25px;
                            font-size: 0.7em;
                        }
                    }        
                .image-cap{
                    img{
                        right: 40%;
                        top: -1.45%;
                        width: 16.25%;
                        //display: none;
                      }
                    }
                
                &-content{           
                    .custom{
                        &-input{
                            &__field{
                                background-color:  #0C0C0C;
                                opacity: 0.4;;
                            }
                            &__append{
                                padding: 18px 18px 18px;
                                color: #FAFAFA;
                                background-color: $primaryColor;
                            }
                        }
                    }
                }
               
                &-image{
                    img{
                      position: unset;
                      max-width: 210px
                    }
                   
                }
            }
        }
    }
        

    



    



    



    


