// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

/*************** Home CSS ***************/

.hero{
    &-section{
        .rounded-background{
            position: relative;
            overflow: hidden;          
        }
        &-content{      
            h1{
                font-size: 61px;
                font-weight:800;
                color:  #FAFAFA;
                margin-bottom: 20px;
                line-height: 1.3;
            }
            p{
                font-size: 16px;
                font-weight: 700;
                color:$primaryColor;
                margin-bottom: 16px;              
            }
            .content-text{
                font-size:16px;
                font-weight: 400;
                color:#FAFAFA ;
                margin-bottom:48px;
                opacity: 0.6;
            }
            .custom{
                &-input{
                    &__group{
                        max-width: 470px;
                        background-color: rgb(12 12 12 / 40%);
                        border-radius: 10px;
                    }
                    &__field{
                        padding: 20px;
                        font-weight: 400;
                        border: 0;
                        background-color: transparent;
                        border-radius: 0;
                        color: #ffffff;

                        &::placeholder {
                            color: rgba(250, 250, 250, 0.4);
                        }
                    }
                    &__prepend{
                        font-size: 20px;  
                        color: rgba(250, 250, 250, 0.4);
                        padding: 20px 0 20px 20px;
                        border-radius: 0;
                        background-color: transparent;
                    }
                    &__append{
                        border-radius: 10px;
                        padding: 19px 40px 19px 40px;
                        color: #FAFAFA;
                        background-color: $primaryColor;
                        font-weight: 700;
                    }
                }
            }
        }
        .image-cap{
           img{
            position: absolute;
            right: 43%;
            top: 30px;
            transform: translateX(50%);
            
        }
    }
      .image-pen{
        img{
            position: absolute;
            bottom: 15px;
            right: 44%;
            }
        } 
        .image-ellipse{
            img{
                position: absolute;
                right: -40px;
                top: -8%;
                transform: translateY(-10%);
            }
        }  
        &-image{
            img{
               position: absolute;
               right: 80px;
               bottom: 0;
              max-width: 450px;
            }         
        }
    }
}
//explore section starts here 
 .explore-section{
    &-buttonpart{
        display: flex;
        justify-content: space-between;
    }
    &-main{
        margin-bottom: 20px;

    }
       &-buttons{
        li{
            padding: 5px 32px 5px 32px;
            border: 1px solid transparent ;
            border-radius: 10px;
            background-color: rgb(238 238 238 / 70%);
            display: inline-block;
            vertical-align: middle;
            line-height: 30px;
            a{
                color: rgb(0 0 0 / 40%); 
                font-size: 14px;
                font-weight: 500;
            }
            
            &:not(:last-child) {
                margin-right: 16px;
            }
           
        }
        .active{
            background: rgba(5, 168, 170, 0.1);
            border: 1px solid rgba(5, 168, 170, 0.2);
        }
 } 
 
  &-filter{
     .custom-input{
        &__group{
            align-items: center;
            label{
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                color: rgb(0 0 0 / 40%);
                margin-right: 16px;
            }         
        }
        &__field{
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
           border-top-right-radius: 10px;
           border-bottom-right-radius: 10px;
            width: auto;
            border:1px solid transparent;
            background-color: rgb(238 238 238 / 70%);
            color: rgb(0 0 0 / 40%);
            font-weight: 400;
            line-height: 30px;
        }
     }
     
    }
    .product-card{
        &-name{
            font-size: 16px;
            color: $primaryColor;
            font-weight: 700;
            line-height: 16px;
            padding-right: 16px;
            margin-bottom: 16px;
        }
        &-rate{
            ul{
                li{
                    display: flex;
                    figure{
                        margin-bottom: 9.8px;
                        margin-right: 9px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 700;
                        padding: 2px;
                        color: rgb(0 0 0 / 40%);
                        margin-bottom: 9.8px;

                    }
                }
            }
        }
        &-title{
            margin-bottom: 23px;
            h3{
                color: $black;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
            }
        }
        &-history{
            margin-bottom: 23px;
            border-bottom: 1px solid rgba(12, 12, 12, 0.1);;
            ul{
                li{
                    display: flex;
                    .user{
                        display: flex;
                        margin-bottom: 16px;
                        p{
                            font-weight:700;
                            font-size: 16px;
                            line-height: 30px;
                            color: rgb(0 0 0 / 40%);

                        }
                        i{
                            font-weight:700;
                            font-size: 16px;
                            line-height: 30px;
                            color: rgb(0 0 0 / 40%);
                            margin-right: 10px;

                        }
                        &:not(:last-child) {
                            margin-right: 25px;
                        }
                    }
                   
                }
            }
        }
        &-details{
            display: flex;
            justify-content: space-between;
        }
        &-imgpart{
            display: flex;
            figure{
                img{
                    margin-right: 10px;
                }
            }
            p{
                font-weight:700;
                font-size: 16px;
                line-height: 30px;
                color: rgb(0 0 0 / 40%);
                padding: 5px;

            }
        }
        &-ammount{
            h3{
                color: $black;
                font-size: 20px;
                line-height: 30px;
                font-weight: 700;
                padding: 5px;
            }  
        }
    }
}
//responsive 
@include breakpoint-max(1399px) {
    .hero{
        &-section{
            &-content{
                //padding-left: 55px;
                //padding-right: 168px;
                h1{
                    font-size: 56px;
                }
                p{
                    font-size: 15px;
                }
                .content-text{
                    font-size: 15px;
                }
                .custom{
                    &-input{
                        &__group{
                           max-width: 432px;                    
                        }
                    }
                }               
            }   
            .image-cap{
                img{
                  right: 40%;          
                }                
            }   
            &-image{
                img{
                  max-width: 357px;
                }
               
            }              
        }
    }
    //explore cartpart responsive 
    .explore-section{
        .product-card{
            &-title{
                h3{
                    font-size: 18px;
                }
            }
            &-ammount{
                h3{
                    font-size: 18px;
                }  
            }
    
    
        }
    }
   

}
@include breakpoint-max(1199px) {
    .hero{
        &-section{
            &-content{
                h1{
                    font-size: 50px;
                    margin-bottom: 15px;
                    }
                    p{
                        font-size: 13px;
                        margin-bottom: 12px;
                    }
                    .content-text{
                        font-size: 13px;
                        margin-bottom: 38px;
                    }
                }
                &-image{
                    img{
                        right: 40px;
                        max-width: 300px;
                    }                  
                }
                .image-cap{
                    img{
                        right: 35%;
                        top: 20px;              
                    }                    
                }             
            }          
        }
    }
    @include breakpoint-max(991px) {
        .hero{
            &-section{
                //.container{
                 //   max-width: 100%;
                //}
                .rounded-background{
                    //padding-bottom: 0;
                    //padding-top: 50px;
                    //padding-left: 40px;
                    //padding-right: 40px;
                 // text-align: center;
                    width: 100%;
                    background-color: #414770;
                    border-radius: 40px;
                    padding: 40px
                }            
                .image-cap{
                    img{
                        transform: none;
                        right:25%;
                        top: 13px;
                        width: 115px;               
                    }                      
                } 
                .image-ellipse{
                    img{
                        right: -50px;
                        top: -15%;
                        transform: translateY(-12%);
                    }
                }                
                &-content{                
                    p{
                       font-size: 12px;  
                    }
                    h1{
                      font-size: 40px;  
                    }  
                    .content-text{
                        font-size: 12px;
                        margin-bottom: 30px;
                    }         
                    .custom{
                        &-input{
                            &__group{                                       
                                max-width: 360px;
                            }
                        }
                    }
                }
            }
        }
        //explore section starts here 
 .explore-section{
    &-buttonpart{
        display: flex;
        flex-direction: column;
    }
       &-buttons{
        margin-bottom: 20px;
        li{
            padding: 5px 25px 5px 25px;
            border: 1px solid transparent ;
            &:not(:last-child) {
                margin-right: 10px;
            }          
       }   
    } 
 
  &-filter{
     .custom-input{
        &__group{
            align-items: center;       
    }
        &__field{
            padding: 14px 14px; 
        }
      }    
    }
  }
}
 @include breakpoint-max(767px) {
        .hero{
            &-section{
                .rounded-background{
                   //padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 40px;
                  padding-right: 40px;
                } 
                           
                //.image-cap{
                   // img{
                     //   right: 41%;
                     //   top: -2%;
                     //   width: 18.25%;
                     // }
                   // }
                
                &-content{ 
                    h1{
                        font-size: 30px;
                    }   
                    .content-text{                    
                        margin-bottom: 25px;
                    } 
                    .custom{
                        &-input{
                            &__group{
                                max-width: 270px;
                            }
                            &__field{
                                padding: 10px;
                            }

                            &__prepend{
                                padding: 15px 0 15px 15px;
                            }
                            &__append{
                                padding: 10px 20px 10px 20px;                             
                            }
                        }
                    }
                }
               
               // &-image{
                  //  img{
                   //   position: unset;
                    //  text-align: center;
                    //  max-width: 300px
                  //  }
                   
               // }
            }
        }
    }
        
    @include breakpoint-max(575px) {
        .hero{
            &-section{
                .rounded-background{
                  // padding-bottom:0 ;
                   padding-top: 50px;
                   padding-left: 30px;
                  padding-right: 30px;
                }           
                &-content{           
                    .custom{
                        &-input{
                            &__prepend{                             
                                padding: 10px 0 10px 10px; 
                                font-size: 14px;                        
                            }
                        }
                    }
                }
            }
        }

 //explore section starts here 
 .explore-section{
       &-buttons{
        li{
            padding: 5px 15px 5px 15px;
            a{
                font-size: 12px;
            }
            
            &:not(:last-child) {
                margin-right: 12px;
            }
           
        }
      
 } 
 
  &-filter{
     .custom-input{
        &__group{
            align-items: center;
            label{
                font-size: 14px;
                margin-right: 10px;
            }         
        }
        &__field{
            padding: 10px 10px;
            font-size: 12px;
        }
   }
     
 }
}       
}
 @include breakpoint-max(480px) {
        .hero{
            &-section{
                .rounded-background{
                  // padding-bottom:0 ;
                   padding-top: 40px;
                   padding-left: 30px;
                  padding-right: 30px;
                }    
                &-content{
                    h1{
                        font-size: 25px;
                        margin-bottom: 12px;
                        
                        }
                        p{
                          margin-bottom: 10px;
                          
                        }
                        .content-text{
                          margin-bottom: 20px; 
                        }
                        .custom{
                            &-input{
                                &__field{
                                    padding: 5px;
                                }
                               
                            }
                        }
                    }        
                    .image-ellipse{
                        img{
                            right: -70px;
                            top: -14%;
                            transform: translateY(-12%);
                        }
                    }     
            }
        }
        //explore section starts here 
 .explore-section{
    &-buttons{
        margin-bottom: 15px;
     li{
         padding: 3px 10px 3px 10px;
         border-radius: 8px;
         a{
             font-size: 12px;
         }
         
         &:not(:last-child) {
             margin-right: 10px;
         }
        
     }
   
} 

&-filter{
  .custom-input{
     &__group{
         align-items: center;
         label{
             font-size: 14px;
             margin-right: 8px;
         }         
     }
     &__field{
         padding: 8px 8px;
         font-size: 12px;
     }
}
  
}
}  
    }
        

    



    



    



    


