// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Overrides Bootstrap
.nav-link {
    padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}
.navbar-expand-lg{
    .offcanvas{
        flex: 0 0 auto;
    }
}

// Style Nav
.navbar {
    &-content{
     display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    &__item {
     
        &--action{
            ul{
                display: flex;
                justify-content: space-between;
                li{
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    &:hover {
                        color:$primaryColor;
                    }

                    a {
                        color: #000000;
                    }
                }
            }
          li{
            //design for sign-up button
                font-size: 1em;
                font-weight: 700;         
          }
          .icon-serach{
            font-size: 1.5em;
            font-weight: 700;
            padding: 10px;

          }

          .icon-actionbar {
            font-size: 1.5em;
            font-weight: 700;
          }

           
        }
      
    }
    }

    &.navbar-expand-lg {
        background-color: #ffffff;
        padding-top: 15px;
        padding-bottom: 15px;

        .nav {
            &-item {
                margin-left: 20px;
                margin-right: 20px;
                font-size: 1em;
                color: #000000;
                font-weight: 500;
            }
            
            &-link {
                    font-size: 1em;
                    line-height: 1;
                    cursor: pointer;
                    color: #000000;
                    transition: color 0.3s linear;
                    position: relative;

                    &:hover {
                        color:$primaryColor;
                    }

                    a {
                        color: #000000;
                    }

                &.active {
                   color:$primaryColor;

                    &:after {
                        width: 100%;
                    }
               }

                
           }
        }
    }
    &-brand {
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        img {
            vertical-align: -6px;
        }
    }
   
}
.navbar-nav {
    .nav-item {
        a {
            &.dropdown-toggle {
                &:after {
                    content: "\f107";
                    font-family: "Line Awesome Free";
                    font-weight: 900;
                    border: 0;
                    vertical-align: 1px;
                    line-height: 1;
                    font-size: 0.9em;
                    margin-left: 1px;
                }
            }
        }

        &.dropdown {
            .dropdown-menu {
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 0;
                padding-bottom: 0;
                font-size: 1em;
                border: 0;
                border-radius: 5px;
                box-shadow: 0 4px 11px 0 rgb(0 0 0 / 7%);
                transform: translateY(10px);
                

                li {
                    font-size: 1em;
                    font-weight: 500;

                    a {
                        padding-left: 0.8em;
                        padding-right: 0.8em;

                        &:hover,
                        &:focus,
                        &:active {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}



//off canvas 
.offcanvas{
    ul li{
        padding: 10px;
    }
}
//nav responsive
@include breakpoint-max(991px){
    .navbar.navbar-expand-lg .nav-item {
         margin-left: 0px;
         margin-right: 0px;
         padding: 15px 15px;
         border-bottom: 1px solid #E3E3E3;
         
}


.navbar{
    &-content{
        .offcanvas{
           .offcanvas-header{
                  button{
                    font-size: 1.6em;
                  }
           }
        }
         &__item{
            &--action{
                .main-btn {
                    padding: 8px 30px;
                    font-size: 0.9em;
                     font-weight: 500;
                }
                .icon-serach{
                    font-size: 1.5em;
                    font-weight: 700;
                   padding: 0;
        
                  } 
            }
         }
    }
}

}
@include breakpoint-max(575px) {
    .navbar{
        &-content{
             &__item{
                &__brand{
                    a{
                        img{
                            max-width: 60%;
                        }
                    }
                }
                &--action{
                    .main-btn {
                        padding: 4px 10px;
                        font-size: 0.9em;
                         font-weight: 500;
                    }
                    .main-btn__border {
                        border: 1px solid $primaryColor;
                        background-color: transparent;
                        color: $primaryColor;
                        border-radius: 6px;
                    }
                  .actionbar{
                    font-size: 1em;
                  }
                }
             }
        }
    }
}