// Add variables here
@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

button {
    padding: 0;
    background-color: transparent;
    border: 0;
    &:active, &:focus {
        outline: 0;
        border: 0;
    }
}

// Button CSS
.main-btn {
    padding: 16px 38px;
    border-radius: 8px;
    border: 0;
    background-color: $primaryColor;
    color: #ffffff;
    font-size: 1em;
    &__border {
        border: 2px solid $primaryColor;
        background-color: transparent;
        color:$primaryColor;

        //padding-top: 8px;
        //padding-bottom: 8px;
    }
}

@include breakpoint-max(767px){
    .main-btn {
        padding: 0.6375em 1.175em;
    }

}