/*****************************
    Add All Typography Here
*****************************/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@800&display=swap");
.bg-gray {
  background-color: #f8f8f8;
}

.t-clr-primary {
  color: #05A8AA !important;
}

.t-clr-secondary {
  color: #CE3C31 !important;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.pb-30 {
  padding-bottom: 30px;
}

.ptb-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.rotate-y-160 {
  transform: rotateY(160deg);
}

.rounded-background {
  width: 100%;
  background-color: #414770;
  border-radius: 70px;
  padding: 80px;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
}
button:active, button:focus {
  outline: 0;
  border: 0;
}

.main-btn {
  padding: 15px 40px;
  border-radius: 8px;
  border: 0;
  background-color: #05A8AA;
  color: #ffffff;
  font-size: 1em;
}
.main-btn__border {
  border: 2px solid #05A8AA;
  background-color: transparent;
  color: #05A8AA;
}

@media (max-width: 767px) {
  .main-btn {
    padding: 0.6375em 1.175em;
  }
}
input {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #05A8AA;
}
input:focus, input:active {
  border: 0;
  outline: 0;
}

.custom-input__group {
  display: flex;
}
.custom-input__prepend {
  padding: 18px 0 18px 18px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 14px;
}
.custom-input__append {
  padding: 18px 18px 18px 0;
  color: #CE3C31;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 14px;
}
.custom-input__field {
  flex: 1;
  width: 100%;
  padding: 18px 18px;
}
.custom-input__field:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.custom-input__field:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.custom-input__field::-moz-placeholder {
  color: #B0B0B0;
}
.custom-input__field:-ms-input-placeholder {
  color: #B0B0B0;
}
.custom-input__field::placeholder {
  color: #B0B0B0;
}
.custom-input__checkbox input {
  display: none;
}
.custom-input__checkbox input:checked ~ label:before {
  content: "\f00c";
  font-family: "Line Awesome Free";
  font-weight: 900;
}
.custom-input__checkbox label {
  position: relative;
  padding-left: 24px;
}
.custom-input__checkbox label:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 4px;
  border: 1px solid #373737;
  line-height: 1;
  font-size: 12px;
}

@media (max-width: 991px) {
  .custom-input__prepend {
    padding: 15px 0 15px 15px;
    font-size: 0.9em;
  }
  .custom-input__append {
    padding: 15px 15px 15px 0;
    font-size: 0.9em;
  }
  .custom-input__field {
    padding: 15px 15px;
    font-size: 0.9em;
  }
  .custom-input__checkbox label {
    font-size: 0.9em;
  }
  .custom-input__checkbox label:before {
    top: 2px;
  }
}
header {
  margin-bottom: 48px;
}

.nav-link {
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}

.navbar-expand-lg .offcanvas {
  flex: 0 0 auto;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}
.navbar-content__item--action ul {
  display: flex;
  align-items: center;
}
.navbar-content__item--action ul li {
  margin-left: 20px;
}
.navbar-content__item--action ul li:hover {
  color: #05A8AA;
}
.navbar-content__item--action ul li a {
  color: #000000;
  display: block;
}
.navbar-content__item--action li a {
  padding: 15px 20px;
  color: #05A8AA !important;
  font-size: 1em;
  font-weight: 700;
  width: 150px;
  text-align: center;
}
.navbar-content__item--action .main-btn__border {
  overflow: hidden;
  transition: all 0.3s linear;
  position: relative;
}
.navbar-content__item--action .main-btn__border:hover {
  background-color: #05A8AA;
}
.navbar-content__item--action .main-btn__border:hover span {
  color: #ffffff;
  transform: translateX(10px);
}
.navbar-content__item--action .main-btn__border:hover i {
  color: #ffffff;
}
.navbar-content__item--action .main-btn__border span {
  margin-left: 10px;
  margin-right: 10px;
  display: inline-block;
  transition: transform 0.3s ease;
}
.navbar-content__item--action .main-btn__border:hover i {
  transform: translateY(-50%);
  opacity: 1;
}
.navbar-content__item--action .main-btn i {
  transform: translateY(100%);
  display: inline-block;
  font-size: 1em;
  font-weight: 900;
  transition: transform 0.3s ease, opacity 0.3s linear;
  position: absolute;
  left: 20px;
  top: 50%;
  opacity: 0;
}
.navbar-content__item--action .icon-serach {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}
.navbar-content__item--action .icon-actionbar {
  font-size: 1.5em;
  font-weight: 700;
  cursor: pointer;
}
.navbar.navbar-expand-lg {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar.navbar-expand-lg .nav-item {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1em;
  color: #000000;
  font-weight: 500;
}
.navbar.navbar-expand-lg .nav-link {
  font-size: 1em;
  line-height: 1;
  cursor: pointer;
  color: #000000;
  transition: color 0.3s linear;
  position: relative;
}
.navbar.navbar-expand-lg .nav-link:hover {
  color: #05A8AA;
}
.navbar.navbar-expand-lg .nav-link a {
  color: #000000;
}
.navbar.navbar-expand-lg .nav-link.active {
  color: #05A8AA;
}
.navbar.navbar-expand-lg .nav-link.active:after {
  width: 100%;
}
.navbar.navbar-expand-lg .nav-link.active:before {
  width: 100%;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}
.navbar-brand img {
  vertical-align: -6px;
}

.navbar-nav .nav-item .nav-link {
  padding-bottom: 8px;
}
.navbar-nav .nav-item .nav-link:before {
  content: "";
  width: 0;
  height: 2px;
  background-color: #05A8AA;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease;
}
.navbar-nav .nav-item .nav-link:hover:before {
  width: 100%;
}
.navbar-nav .nav-item a.dropdown-toggle:after {
  content: "\f107";
  font-family: "Line Awesome Free";
  font-weight: 900;
  border: 0;
  vertical-align: 1px;
  line-height: 1;
  font-size: 0.9em;
  margin-left: 1px;
}
.navbar-nav .nav-item.dropdown .dropdown-menu li {
  font-size: 1em;
  font-weight: 500;
}
.navbar-nav .nav-item.dropdown .dropdown-menu li a {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.navbar-nav .nav-item.dropdown .dropdown-menu li a:hover {
  color: #05A8AA;
}
.navbar-nav .nav-item.dropdown .dropdown-menu li a:hover, .navbar-nav .nav-item.dropdown .dropdown-menu li a:focus, .navbar-nav .nav-item.dropdown .dropdown-menu li a:active {
  background-color: transparent;
}

.navbar .navbar-nav .nav-item a.dropdown-toggle ~ .dropdown-menu {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  transform: translateY(10px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s linear, transform 0.3s ease-in-out;
  left: 0;
  top: 100%;
  display: block;
}
.navbar .navbar-nav .nav-item:hover a.dropdown-toggle ~ .dropdown-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 0 4px 11px 0 rgba(161, 161, 161, 0.1019607843);
  border: none;
  width: 150px;
}
.navbar .navbar-nav .nav-item.dropdown .dropdown-menu li:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 991px) {
  .navbar.navbar-expand-lg .nav-item {
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px 10px;
    position: relative;
  }
  .navbar.navbar-expand-lg .nav-item:not(:last-child) {
    border-bottom: 1px solid #E3E3E3;
  }
  .navbar.navbar-expand-lg .nav-link.active:before {
    width: 0%;
  }
  .navbar-nav .nav-item a.dropdown-toggle:after {
    position: absolute;
    margin-left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }
  .navbar-nav .nav-item .nav-link {
    padding-bottom: 0;
  }
  .navbar-nav .nav-item .nav-link:before {
    content: "";
    width: 0;
    height: 0;
  }
  .navbar-content .offcanvas .offcanvas-header button {
    font-size: 1.2em;
  }
  .navbar-content__item--action .main-btn {
    padding: 4px 4px;
    font-size: 0.9em;
    font-weight: 500;
    width: 90px;
  }
  .navbar-content__item--action .main-btn__border span:hover {
    transform: none;
  }
  .navbar-content__item--action .icon-serach {
    font-size: 1.5em;
    font-weight: 700;
    padding: 0;
  }
  .navbar .navbar-nav .nav-item a.dropdown-toggle ~ .dropdown-menu {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
    transform: translateY(0);
    pointer-events: none;
    left: 0;
    top: 100%;
    transition: none;
    opacity: 1;
    box-shadow: none;
    width: 350px;
    display: none;
  }
  .navbar .navbar-nav .nav-item:hover a.dropdown-toggle ~ .dropdown-menu {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
  .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li {
    border-top: 1px solid #E3E3E3;
  }
  .navbar .navbar-nav .nav-item.dropdown .dropdown-menu li:not(:last-child) {
    margin-bottom: 5px;
  }
  .navbar-content__item--action ul li {
    margin-left: 10px;
  }
  .offcanvas.navbar-content__item .offcanvas-body .navbar-nav .nav-item a.icon-rotate:after {
    transform: translateY(-50%) rotate(-180deg);
  }
}
@media (max-width: 575px) {
  .navbar-content__item__brand a img {
    max-width: 100%;
  }
  .navbar-content__item--action .main-btn {
    padding: 3px 5px;
    font-size: 0.9em;
    font-weight: 500;
  }
  .navbar-content__item--action .main-btn__border {
    border: 1px solid #05A8AA;
    background-color: transparent;
    color: #05A8AA;
    border-radius: 6px;
  }
  .navbar-content__item--action .icon-serach {
    font-size: 1.2em;
  }
  .navbar-content__item--action .icon-actionbar {
    font-size: 1.2em;
  }
  .navbar-content__item--action .signin-icon {
    color: #000000 !important;
    font-size: 1.2em;
    padding: 0;
    width: 100%;
    cursor: pointer;
  }
  .navbar-content__item--action .signin-icon:hover i {
    color: #05A8AA;
  }
}
.section-header {
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: -5px;
  margin-bottom: 2em;
}
.section-header h2 {
  font-size: 2em;
  font-family: "Inter Semi Bold";
  margin-right: 10px;
  margin-top: 5px;
}
.section-header__action {
  margin-top: 5px;
}
.section-header__action a {
  font-size: 1em;
  display: inline-flex;
  align-items: center;
}
.section-header__action a i {
  margin-left: 5px;
  font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}
ul li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 1rem;
}

body {
  font-size: 1em;
}

p, a {
  font-family: "Work Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sora", sans-serif;
}

input {
  font-family: "Work Sans", sans-serif;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
}
/*************** Home CSS ***************/
.hero-section .rounded-background {
  position: relative;
  overflow: hidden;
}
.hero-section-content h1 {
  font-size: 61px;
  font-weight: 800;
  color: #FAFAFA;
  margin-bottom: 20px;
  line-height: 1.3;
}
.hero-section-content p {
  font-size: 16px;
  font-weight: 700;
  color: #05A8AA;
  margin-bottom: 16px;
}
.hero-section-content .content-text {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
  margin-bottom: 48px;
  opacity: 0.6;
}
.hero-section-content .custom-input__group {
  max-width: 470px;
  background-color: rgba(12, 12, 12, 0.4);
  border-radius: 10px;
}
.hero-section-content .custom-input__field {
  padding: 18px 20px;
  font-weight: 400;
  border-bottom-left-radius: 10px;
}
.hero-section-content .custom-input__prepend {
  font-size: 14px;
  color: #FAFAFA;
  padding: 22px 20px 22px 11.5px;
}
.hero-section-content .custom-input__append {
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 19px 40px 19px 40px;
  color: #FAFAFA;
  background-color: #05A8AA;
  font-weight: 700;
}
.hero-section .image-cap img {
  position: absolute;
  right: 42%;
  top: 45px;
  transform: translateX(50%);
}
.hero-section .image-pen img {
  position: absolute;
  bottom: 15px;
  right: 44%;
}
.hero-section-image img {
  position: absolute;
  right: 80px;
  bottom: 0;
  max-width: 450px;
}

.explore-section {
  display: none;
}
.explore-section-header {
  margin-bottom: 20px;
}
.explore-section-buttonpart {
  display: flex;
  justify-content: space-between;
}
.explore-section-buttons {
  display: flex;
}
.explore-section-buttons .main-btn__border {
  padding: 8px 20px;
  background-color: #EEEEEE;
  color: #000000;
  border-radius: 5px;
}
.explore-section-buttons .main-btn__border:not(:last-child) {
  margin-right: 10px;
}
.explore-section-filter {
  display: flex;
}

@media (max-width: 1399px) {
  .hero-section-content h1 {
    font-size: 56px;
  }
  .hero-section-content p {
    font-size: 15px;
  }
  .hero-section-content .content-text {
    font-size: 15px;
  }
  .hero-section-content .custom-input__group {
    max-width: 432px;
  }
  .hero-section-content .custom-input__field {
    padding: 18px 20px;
  }
  .hero-section-content .custom-input__prepend {
    padding: 22px 20px 22px 11.5px;
  }
  .hero-section-content .custom-input__append {
    padding: 19px 40px 19px 40px;
  }
  .hero-section .image-cap img {
    right: 40%;
  }
  .hero-section-image img {
    max-width: 357px;
  }
}
@media (max-width: 1199px) {
  .hero-section-content h1 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  .hero-section-content p {
    font-size: 13px;
    margin-bottom: 12px;
  }
  .hero-section-content .content-text {
    font-size: 13px;
    margin-bottom: 38px;
  }
  .hero-section-image img {
    right: 40px;
  }
  .hero-section .image-cap img {
    right: 35%;
    top: 35px;
  }
  .hero-section .image-pen img {
    bottom: 5px;
    right: 40%;
  }
}
@media (max-width: 991px) {
  .hero-section .rounded-background {
    width: 100%;
    background-color: #414770;
    border-radius: 40px;
    padding: 40px;
  }
  .hero-section .image-cap img {
    transform: none;
    right: 24%;
    top: 20px;
    width: 115px;
  }
  .hero-section-content p {
    font-size: 12px;
  }
  .hero-section-content h1 {
    font-size: 40px;
  }
  .hero-section-content .content-text {
    font-size: 12px;
    margin-bottom: 30px;
  }
  .hero-section-content .custom-input__group {
    max-width: 360px;
  }
}
@media (max-width: 767px) {
  .hero-section .rounded-background {
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .hero-section-content h1 {
    font-size: 30px;
  }
  .hero-section-content .content-text {
    margin-bottom: 20px;
  }
  .hero-section-content .custom-input__append {
    padding: 18px 18px 18px;
  }
}
@media (max-width: 575px) {
  .hero-section .rounded-background {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-section-content h1 {
    font-size: 30px;
  }
  .hero-section-content .content-text {
    margin-bottom: 25px;
  }
  .hero-section-content .custom-input__group {
    max-width: 310px;
  }
  .hero-section-content .custom-input__append {
    padding: 18px 10px 18px 10px;
  }
}
@media (max-width: 480px) {
  .hero-section .rounded-background {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .hero-section-content h1 {
    font-size: 25px;
    margin-bottom: 12px;
  }
  .hero-section-content p {
    margin-bottom: 10px;
  }
  .hero-section-content .content-text {
    margin-bottom: 20px;
  }
  .hero-section-content .custom-input__field {
    padding: 5px 8px;
  }
  .hero-section-content .custom-input__prepend {
    padding: 20px 8px 20px 8px;
  }
  .hero-section-content .custom-input__append {
    padding: 10px 10px 10px 10px;
  }
}
h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

a {
  color: #CE3C31;
}
a:hover {
  color: #CE3C31;
}/*# sourceMappingURL=style.css.map */